@media (max-width: 1025px){
    .site-header {
        min-height: 75vh !important;
    }
    .hero-inner {
        transform: translateY(25%) !important;
    }

    .service-full-content{
        display: inline-flex !important;
    }
    .services-body {
        padding-bottom: 0px !important;
    }

    .feature-section1 {
        padding: 30px 0 !important;
    }
    .feature-image img {
        height: 260px !important;
    }
    .feature-button2 {
        right: 35px !important;
    }
    
    .client-image-alignment{
        width: 45% !important;
    }
    .dot-image {
        top: -20px !important;
        left: -20px !important;
    }
    .client-section {
        padding: 60px 0 !important;
    }
    .footer-message {
        width: 320px !important;
    }
    .footer-button {
        right: -105px !important;
    }

    .terms-title{
        font-size: 15px !important;
    }
}
@media (max-width: 813px){
    .site-header {
        min-height: 98vh !important;
    }
    .navbar-toggler{
        background-color: #fff !important;
        color: rgb(218, 218, 218) !important;
    }
    .hero-inner {
        transform: translateY(0%) !important;
    }
    .hero-title h1 {
        font-size: 25px !important;
        letter-spacing: 1px !important;
    }
    .hero-illustration img {
        height: 200px !important;
    }
    .hero-paragraph {
        padding: 2px 25px !important;
        padding-left: 0 !important;
    }

    .feature-section1 {
        padding: 50px 0 !important;
    }
    .feature-section2 {
        padding: 50px 0 !important;
    }
    .feature-content h1 {
        font-size: 30px !important;
    }
    .feature-image img {
        height: 190px !important;
    }
    .feature-message {
        width: 300px !important;
    }
    .feature-button2 {
        right: 36px !important;
    }

    .project-body-content {
        margin-top: 30px !important;
    }
    .project-img img {
        height: 260px !important;
    }

    .client-section {
        padding: 70px 0 !important;
    }
    .client-image-alignment {
        text-align: left !important;
        width: 45% !important;
    }
    .client-img img {
        height: 230px !important;
    }
    .dot-image {
        top: -18px !important;
        left: -20px !important;
    }
    .client-details h5 {
        margin: 0px 0 !important;
    }
    .client-paragraph p {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }
    .client-arrow {
        margin-top: 10px !important;
    }

    .feature-message {
        width: 230px !important;
    }
    .feature-button2 {
        right: -74px !important;
    }


    .terms-social-icon {
        margin-left: 0px !important;
    }
    .social-icon ul {
        justify-content: center !important;
    }
    .footer-message {
        width: 290px !important;
    }
    .footer-button {
        right: 45px !important;
        padding: 10px 15px !important;
    }
    .footer-details-alignment{
        width: 50% !important;
        margin-top: 10px !important;
    }
    .footer-link{
        float: none !important;
    }
    .terms-title{
        font-size: 14px !important;
    }
    .reserved-title {
        text-align: left !important;
        font-size: 13px !important;
    }
}
@media (max-width: 769px){
    .site-header {
        min-height: 46vh !important;
    }
    .navbar-toggler{
        background-color: #fff !important;
        color: rgb(218, 218, 218) !important;
    }
    .hero-inner {
        transform: translateY(10%) !important;
    }
    .hero-title h1 {
        font-size: 30px !important;
        letter-spacing: 1px !important;
    }
    .hero-illustration img {
        height: 250px !important;
    }
    .services-section {
        padding-bottom: 0px !important;
    }
    .service-full-content{
        display: inline-flex !important;
    }
    .services-section {
        padding-top: 50px !important;
    }

    .feature-section1 {
        padding: 50px 0 !important;
    }
    .feature-section2 {
        padding: 50px 0 !important;
    }
    .feature-content h1 {
        font-size: 30px !important;
    }
    .feature-image img {
        height: 190px !important;
    }
    .feature-message {
        width: 300px !important;
    }
    .feature-button2 {
        right: 36px !important;
    }

    .project-body-content {
        margin-top: 30px !important;
    }
    .project-img img {
        height: 260px !important;
    }

    .client-section {
        padding: 70px 0 !important;
    }
    .client-image-alignment {
        text-align: left !important;
        width: 45% !important;
    }
    .client-img img {
        height: 230px !important;
    }
    .dot-image {
        top: -18px !important;
        left: -20px !important;
    }
    .client-details h5 {
        margin: 0px 0 !important;
    }
    .client-paragraph p {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }
    .client-arrow {
        margin-top: 10px !important;
    }

    .feature-message {
        width: 230px !important;
    }
    .feature-button2 {
        right: -74px !important;
    }


    .terms-social-icon {
        margin-left: 0px !important;
    }
    .social-icon ul {
        justify-content: center !important;
    }
    .footer-message {
        width: 290px !important;
    }
    .footer-button {
        right: 45px !important;
        padding: 10px 15px !important;
    }
    .footer-details-alignment{
        width: 50% !important;
        margin-top: 10px !important;
    }
    .footer-link{
        float: none !important;
    }
    .terms-title{
        font-size: 14px !important;
    }
    .reserved-title {
        text-align: left !important;
        font-size: 13px !important;
    }
}
@media (max-width: 741px){
    .site-header {
        min-height: 90vh !important;
    }
    .navbar-toggler{
        background-color: #fff !important;
        color: rgb(218, 218, 218) !important;
    }
    .hero-inner {
        transform: translateY(0%) !important;
    }
    .hero-title h1 {
        font-size: 25px !important;
        letter-spacing: 1px !important;
    }
    .hero-paragraph {
        padding: 5px 0px !important;
    }
    .hero-illustration img {
        height: 230px !important;
    }
    .hero-illustration {
        float: inherit !important;
        text-align: center !important;
    }

    .services-section {
        padding-bottom: 0px !important;
    }
    .service-full-content{
        display: inline-flex !important;
        padding: 0px !important;
    }
    .services-section {
        padding-top: 50px !important;
    }
    .services-list h5 {
        font-size: 20px !important;
    }
    .services-body {
        padding-bottom: 30px !important;
    }

    .feature-section1 {
        padding: 50px 0 !important;
    }
    .feature-section2 {
        padding: 50px 0 !important;
    }
    .feature-content h1 {
        font-size: 25px !important;
        margin-top: 10px !important;
    }
    .feature-image img {
        height: 230px !important;
    }
    .feature-message {
        width: 420px !important;
    }
    .feature-button2 {
        right: 96px !important;
    }

    .project-body-content {
        margin-top: 30px !important;
    }
    .project-img img {
        height: 220px !important;
    }
    .project-content-alignment{
        width: 33.3% !important;
    }
    .project-content-inner h5 {
        font-size: 16px !important;
    }

    .client-section {
        padding: 70px 0 !important;
    }
    .client-image-alignment {
        text-align: left !important;
        width: 45% !important;
    }
    .client-img img {
        height: 190px !important;
    }
    .dot-image {
        top: -18px !important;
        left: -20px !important;
    }
    .client-details h5 {
        margin: 0px 0 !important;
    }
    .client-paragraph p {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }
    .client-arrow {
        margin-top: 10px !important;
    }
    .client-details-alignment{
        width: 49% !important;
    }
    .arrow {
        height: 35px !important;
        width: 35px !important;
    }
    .arrow i {
        font-size: 17px !important;
    }


    .feature-message {
        width: 400px !important;
    }
    .feature-button2 {
        right: 95px !important;
    }


    .terms-social-icon {
        margin-left: 0px !important;
    }
    .social-icon ul {
        justify-content: center !important;
    }
    .footer-company-details h4 {
        font-size: 18px !important;
    }
    .footer-message {
        width: 245px !important;
    }
    .footer-button {
        right: 0px !important;
        padding: 10px 15px !important;
    }
    .footer-details-alignment{
        width: 50% !important;
        margin-top: 10px !important;
    }
    .footer-link{
        float: none !important;
    }
    .terms-title{
        font-size: 14px !important;
    }
    .reserved-title {
        text-align: left !important;
        font-size: 13px !important;
    }
    .terms-title ul {
        justify-content: center !important;
    }
    .reserved-title {
        text-align: center !important;
        font-size: 16px !important;
    }
}

@media (max-width: 415px){
    .site-header-button {
        padding: 5px 15px !important;
    }
    .navbar-toggler{
        background-color: #fff !important;
        color: rgb(218, 218, 218) !important;
    }
    .hero-inner {
        transform: translateY(2%) !important;
    }
    .hero-title h1 {
        font-size: 30px !important;
        letter-spacing: 0px !important;
    }
    .hero-paragraph {
        padding: 5px 25px !important;
        padding-left: 0px !important;
    }
    .hero-btn {
        padding: 8px 15px !important;
    }
    .hero-illustration {
        float: inherit !important;
        text-align: center !important;
    }
    .hero-illustration img {
        height: 210px !important;
    }
    .services-section {
        padding: 50px 0 !important;
        padding-bottom: 0 !important;
    }
    .service-full-content {
        text-align: -moz-center !important;
        padding: 0px 20px !important;
        display: block !important;
    }
    .services-body {
        padding-top: 30px !important;
        padding-bottom: 0px !important;
    }
    .service-learn-more ul {
        justify-content: center !important;
    }

    .feature-section1 {
        padding: 30px 0 !important;
    }
    .feature-content h1 {
        font-size: 25px !important;
    }
    .feature-image img {
        height: 210px !important;
        margin-bottom: 10px !important;
    }
    .feature-section2 {
        padding: 50px 0 !important;
    }
    .feature-message {
        width: 350px !important;
    }
    .feature-button2 {
        right: 40px !important;
    }

    .project-section {
        padding: 50px 0 !important;
    }
    .project-body-content {
        margin-top: 30px!important;
    }
    .project-content-alignment {
        width: 100% !important;
    }
    .project-img img {
        height: 300px !important;
    }

    .client-section {
        padding: 50px 0 !important;
    }
    .client-img {
        padding: 0px 30px !important;
    }
    .client-img img {
        height: 250px !important;
    }
    .dot-image {
        top: -20px !important;
        left: 10px !important;
    }
    .client-details-alignment {
        width: 100% !important;
    }
    .client-image-alignment{
        text-align: center !important;
    }
    .client-details {
        padding: 5px 43px !important;
    }
    .client-paragraph p {
        margin-top: 20px !important;
        margin-bottom: 0px !important;
    }
    .client-arrow {
        margin-top: 20px !important;
    }

    .footer-section {
        padding-top: 50px !important;
    }
    .feature-button2 {
        right: 12px !important;
    }
    .footer-link {
        float: inherit !important;
        text-align: center !important;
    }
    .footer-message {
        width: 220px !important;
    }
    .footer-button {
        right: -36px !important;
    }
    .footer-brand ul {
        justify-content: center !important;
    }
    /* .footer-inner{
        text-align: center !important;
    } */
    .terms-title ul {
        justify-content: space-between !important;
    }
    .terms-social-icon {
        margin-left: 0px !important;
    }
    .social-icon ul {
        justify-content: center !important;
    }
    .reserved-title {
        text-align: center !important;
    }

}
@media (max-width: 376px){
    .site-header-button {
        display: none !important;
    }
    .navbar-toggler{
        background-color: #fff !important;
        color: rgb(218, 218, 218) !important;
    }
    .hero-inner {
        transform: translateY(2%) !important;
    }
    .hero-title h1 {
        font-size: 25px !important;
        letter-spacing: 0px !important;
    }
    .hero-btn {
        padding: 10px 15px !important;
    }
    .hero-illustration img {
        height: 230px !important;
    }
    .hero-illustration {
        float: inherit !important;
        text-align: center !important;
    }
    .services-section {
        padding: 50px 0 !important;
    }
    .service-full-content{    
        text-align: -moz-center !important;
        display: block !important;
    }
    .services-body {
        padding-top: 30px !important;
        padding-bottom: 0px !important;
    }
    .service-learn-more ul {
        justify-content: center !important;
    }

    .feature-section1 {
        padding: 30px 0 !important;
    }
    .feature-content h1 {
        font-size: 30px !important;
    }
    .feature-image img {
        height: 190px !important;
        margin-bottom: 10px !important;
    }
    .feature-section2 {
        padding: 50px 0 !important;
    }
    .feature-message {
        width: 325px !important;
    }
    .feature-button2 {
        right: 11px !important;
    }

    .project-section {
        padding: 50px 0 !important;
    }
    .project-body-content {
        margin-top: 30px !important;
    }

    .client-section {
        padding: 50px 0 !important;
    }
    .client-img img {
        height: 230px !important;
        padding: 0px 15px !important;
    }
    .dot-image {
        top: -18px !important;
        left: 10px !important; 
    }
    .client-image-alignment{
        text-align: center !important;
    }
    .client-details{
        padding: 5px 30px !important;
    }
    .client-paragraph p {
        margin-top: 20px !important;
        margin-bottom: 0px !important;
    }
    .client-arrow {
        margin-top: 20px !important;
    }

    .footer-section {
        padding-top: 50px !important;
    }
    .feature-button2 {
        right: 6px !important;
    }
    .footer-link {
        float: inherit !important;
        text-align: center !important;
    }
    .footer-brand ul {
        justify-content: center !important;
    }
    .footer-inner{
        text-align: center !important;
    }
    .terms-title ul {
        justify-content: space-between !important;
    }
    .terms-social-icon {
        margin-left: 0px !important;
    }
    .social-icon ul {
        justify-content: center !important;
    }
    .reserved-title {
        text-align: center !important;
    }
    .footer-details-alignment {
        width: 100% !important;
        margin-top: 10px !important;
    }
    .feature-message-field {
        padding: 10px 20px !important;
    }
    .footer-button {
        right: -9px !important;
    }
}